@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@200;400;700&display=swap');
@font-face {
    font-family: 'No Continue';
    src: url('font/gomarice_no_continue-webfont.woff2') format('woff2'),
         url('font/gomarice_no_continue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sheet-width: 1000px;
    --sheet-height: 700px;
    --sheet-border-padding: 39px;
    --sheet-inner-padding: 13px;
    --sheet-logo-width: calc(var(--sheet-width) * 0.13);

    --font-head-light: 300 1em 'Roboto Condensed', sans-serif;
    --font-head-regular: 400 1em 'Roboto Condensed', sans-serif;
    --font-head-bold: 700 1em 'Roboto Condensed', sans-serif;
    --font-body-light: 200 1em 'Roboto Slab', sans-serif;
    --font-body-regular: 400 1em 'Roboto Slab', sans-serif;
    --font-body-bold: 700 1em 'Roboto Slab', sans-serif;
    --font-deco: normal 1em 'No Continue', sans-serif;

    --sheet-head-font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body, main, div {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sheet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: var(--sheet-width);
    height: var(--sheet-height);
    border: 1px solid black;
    padding: var(--sheet-border-padding);
}

#sheet-header {
    display: flex;
    margin-bottom: var(--sheet-inner-padding);
}

#name-box {
    flex: auto;
    display: flex;
    align-items: end;
    border-bottom: 2px dotted #000;
    padding-bottom: calc(var(--sheet-inner-padding) * 0.5);
}

#name-box > * {
    font: var(--font-head-bold);
    font-size: var(--sheet-head-font-size);
}

#name-box > input {
    padding: 0;
    margin-left: calc(var(--sheet-inner-padding) * 0.7);
    border: none;
    font: var(--font-head-regular);
    font-size: var(--sheet-head-font-size);
    color: #444;
}

#name-box > input:focus {
    outline: none;
}

#name-box ~ img {
    width: var(--sheet-logo-width);
    margin-left: var(--sheet-inner-padding);
}

#sheet-body {
    display: flex;
    height: 100%;
}

#sheet-body > div {
    border: 1px solid blue;
}

#stats {
    flex: 1;
}

#inventory {
    flex: 2;
    margin: 0 var(--sheet-inner-padding);
}

#notes-and-spells {
    flex: 1.3;
}